button {
  padding: 0.65rem 1.55rem;
  font-size: 0.8em;
  border: 2px solid #000;
  color: #000;
  margin-block: 1rem;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: #000;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

ul, li {
  list-style: none;
}

ul {
  z-index: 9;
}

a {
  text-decoration: none;
}

.center-f, footer .container .side-1 ul, footer .container, .headers .desktop-v ul, .headers .mobile-v {
  display: flex;
  align-items: center;
}

.center-g, .intro {
  display: grid;
  place-items: center;
}

.position-flow, .creation .container .card-container .card:after, .headers .desktop-v, .headers .mobile-v {
  position: absolute;
  top: 0;
  left: 0;
}

.smoothPointer {
  transition: 0.5s;
  cursor: pointer;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.headers .mobile-v {
  width: 100%;
  height: 13vh;
  justify-content: space-between;
  padding-inline: 2.45rem;
  display: none;
}
@media (max-width: 768px) {
  .headers .mobile-v {
    display: flex;
  }
}
.headers .mobile-v img:nth-child(1) {
  height: 25px;
}
.headers .mobile-v img:nth-child(2) {
  height: 20px;
  cursor: pointer;
}
.headers .mobile-v img:nth-child(3) {
  display: none;
}
.headers .mobile-v img {
  z-index: 9;
}
.headers .mobile-v ul.menu {
  display: none;
  padding-inline: 1.6rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.headers .mobile-v ul.menu li {
  padding-block: 1rem;
}
.headers .mobile-v ul.menu li a {
  font-size: 1.45em;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.headers .mobile-v ul.menu li a:after {
  content: "";
  height: 3px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transition: 0.5s;
}
.headers .mobile-v ul.menu li a:hover::after {
  width: 110%;
}
.headers .desktop-v {
  width: 100%;
  height: 13vh;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding-inline: 4rem;
}
@media (min-width: 768px) {
  .headers .desktop-v {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .headers .desktop-v {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.headers .desktop-v ul li {
  position: relative;
}
.headers .desktop-v ul li:after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.headers .desktop-v ul li:hover::after {
  width: 100%;
}
.headers .desktop-v ul li a {
  color: #fff;
  padding: 1rem;
  font-size: 1.2em;
  font-weight: 600;
}

.intro {
  width: 100%;
  height: 80vh;
  background: url(../images/mobile/image-hero.jpg) no-repeat center;
  background-size: cover;
}
@media (min-width: 768px) {
  .intro {
    background: url(../images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
  }
}
@media (min-width: 992px) {
  .intro {
    justify-content: flex-start;
    padding-left: 5rem;
  }
}
.intro .text {
  border: 1px solid #fff;
  padding: 1rem;
  margin-inline: 1.45rem;
  max-width: 450px;
}
@media (min-width: 992px) {
  .intro .text {
    max-width: unset;
    width: 470px;
  }
}
.intro .text h1 {
  color: #fff;
  font-size: 2.2em;
  text-transform: uppercase;
}
@media (min-width: 556px) {
  .intro .text h1 {
    font-size: 3em;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .intro .text h1 {
    font-size: 3.25em;
  }
}

.interactive .container {
  min-height: 50vh;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (min-width: 992px) {
  .interactive .container {
    min-height: 100vh;
    align-items: unset;
    justify-content: center;
    padding-left: 7rem;
  }
}
.interactive .container .img-INT {
  height: 200px;
  width: 300px;
  background: url(../images/mobile/image-interactive.jpg) no-repeat center;
  background-size: cover;
}
@media (min-width: 556px) {
  .interactive .container .img-INT {
    height: 376px;
    width: 550px;
  }
}
@media (min-width: 768px) {
  .interactive .container .img-INT {
    background: url(../images/desktop/image-interactive.jpg) no-repeat center;
    background-size: cover;
  }
}
@media (min-width: 992px) {
  .interactive .container .img-INT {
    height: 400px;
    width: 550px;
  }
}
@media (min-width: 1200px) {
  .interactive .container .img-INT {
    height: 450px;
    width: 650px;
  }
}
.interactive .container .text {
  text-align: center;
  width: 90%;
}
@media (min-width: 992px) {
  .interactive .container .text {
    position: absolute;
    top: 50%;
    right: 0;
    background: #fff;
    padding: 2rem;
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .interactive .container .text {
    top: 45%;
    width: 600px;
  }
}
.interactive .container .text h2 {
  margin-block: 1.45rem;
  font-size: 2em;
  text-transform: uppercase;
}
@media (min-width: 556px) {
  .interactive .container .text h2 {
    margin-block: 2rem;
  }
}
@media (min-width: 992px) {
  .interactive .container .text h2 {
    font-size: 3em;
    font-weight: 400;
  }
}
.interactive .container .text p {
  line-height: 25px;
  color: #8b8b8b;
  font-weight: 600;
}

.creation .container {
  min-height: 100vh;
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  .creation .container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.creation .container .heading h2 {
  text-transform: uppercase;
  font-size: 1.65em;
  margin-block: 2rem;
}
.creation .container .heading button {
  display: none;
}
@media (min-width: 992px) {
  .creation .container .heading button {
    display: block;
  }
}
.creation .container .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
@media (min-width: 768px) {
  .creation .container .card-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}
.creation .container .card-container .card:nth-child(1) {
  background: url(../images/mobile/image-deep-earth.jpg) no-repeat top;
}
@media (min-width: 768px) {
  .creation .container .card-container .card:nth-child(1) {
    background: url(../images/desktop/image-deep-earth.jpg) no-repeat top;
  }
}
.creation .container .card-container .card:nth-child(2) {
  background: url(../images/mobile/image-night-arcade.jpg) no-repeat top;
}
@media (min-width: 768px) {
  .creation .container .card-container .card:nth-child(2) {
    background: url(../images/desktop/image-night-arcade.jpg) no-repeat top;
  }
}
.creation .container .card-container .card:nth-child(3) {
  background: url(../images/mobile/image-soccer-team.jpg) no-repeat top;
}
@media (min-width: 768px) {
  .creation .container .card-container .card:nth-child(3) {
    background: url(../images/desktop/image-soccer-team.jpg) no-repeat top;
  }
}
.creation .container .card-container .card:nth-child(4) {
  background: url(../images/mobile/image-grid.jpg) no-repeat top;
}
@media (min-width: 768px) {
  .creation .container .card-container .card:nth-child(4) {
    background: url(../images/desktop/image-grid.jpg) no-repeat top;
  }
}
.creation .container .card-container .card:nth-child(5) {
  background: url(../images/mobile/image-from-above.jpg) no-repeat top;
}
@media (min-width: 768px) {
  .creation .container .card-container .card:nth-child(5) {
    background: url(../images/desktop/image-from-above.jpg) no-repeat top;
  }
}
.creation .container .card-container .card:nth-child(6) {
  background: url(../images/mobile/image-pocket-borealis.jpg) no-repeat top;
}
@media (min-width: 768px) {
  .creation .container .card-container .card:nth-child(6) {
    background: url(../images/desktop/image-pocket-borealis.jpg) no-repeat top;
  }
}
.creation .container .card-container .card:nth-child(7) {
  background: url(../images/mobile/image-curiosity.jpg) no-repeat top;
}
@media (min-width: 768px) {
  .creation .container .card-container .card:nth-child(7) {
    background: url(../images/desktop/image-curiosity.jpg) no-repeat top;
  }
}
.creation .container .card-container .card:nth-child(8) {
  background: url(../images/mobile/image-fisheye.jpg) no-repeat top;
}
@media (min-width: 768px) {
  .creation .container .card-container .card:nth-child(8) {
    background: url(../images/desktop/image-fisheye.jpg) no-repeat top;
  }
}
.creation .container .card-container .card {
  height: 150px;
  background-size: cover !important;
  position: relative;
  cursor: pointer;
}
@media (min-width: 768px) {
  .creation .container .card-container .card {
    height: 500px;
  }
}
.creation .container .card-container .card:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6588235294);
  opacity: 0;
  transition: 0.8s;
}
.creation .container .card-container .card:hover::after {
  opacity: 1;
}
.creation .container .card-container .card:hover h3 {
  color: #151515;
}
.creation .container .card-container .card h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: start;
  transition: 0.5s;
  z-index: 9;
}
@media (min-width: 768px) {
  .creation .container .card-container .card h3 {
    font-size: 2.45em;
    left: 50px;
  }
}
.creation .container button.tp-5 {
  justify-self: center;
  margin-block: 1.35rem;
}
@media (min-width: 992px) {
  .creation .container button.tp-5 {
    display: none;
  }
}

footer {
  background-color: #000;
}
footer .container {
  flex-direction: column;
  padding-block: 2rem;
}
@media (min-width: 768px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .container .side-1 img.logo {
  height: 25px;
}
footer .container .side-1 ul {
  flex-direction: column;
  margin-block: 1.34rem;
}
@media (min-width: 768px) {
  footer .container .side-1 ul {
    flex-direction: row;
  }
}
footer .container .side-1 ul li {
  margin-block: 0.45rem;
}
@media (min-width: 768px) {
  footer .container .side-1 ul li {
    margin-inline: 0.65rem;
  }
}
footer .container .side-1 ul li a {
  color: #fff;
  cursor: pointer;
  position: relative;
}
footer .container .side-1 ul li a:after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
footer .container .side-1 ul li a:hover::after {
  width: 40%;
}
footer .container .side-2 .icons {
  text-align: center;
}
@media (min-width: 768px) {
  footer .container .side-2 .icons {
    text-align: end;
  }
}
footer .container .side-2 .icons img {
  margin-inline: 0.35rem;
  cursor: pointer;
}
footer .container .side-2 .copyRight {
  color: #c2c2c2;
  margin-block: 1.2rem;
  font-size: 0.9em;
}/*# sourceMappingURL=main.css.map */