footer {
    background-color: #000;
    .container {
        @extend .center-f;
        flex-direction: column;
        padding-block: 2rem;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
        .side-1 {
            img.logo {
                height: 25px;
            }
            ul {
                @extend .center-f;
                flex-direction: column;
                margin-block: 1.34rem;
                @media (min-width: 768px) {
                    flex-direction: row;
                }
                li {
                    margin-block: .45rem;
                    @media (min-width: 768px) {
                        margin-inline: .65rem;
                    }
                    a {
                        color: #fff;
                        cursor: pointer;
                        position: relative;
                        &:after {
                            content: '';
                            height: 2px;
                            width: 0;
                            background-color: #fff;
                            border-radius: 5px;
                            position: absolute;
                            bottom: -5px;
                            left: 50%;
                            transform: translateX(-50%);
                            transition: .5s;
                        }
                        &:hover::after {
                            width: 40%;
                        }
                    }
                }
            }
        }
        .side-2 {
            .icons {
                text-align: center;
                @media (min-width: 768px) {
                    text-align: end;
                }
                img {
                    margin-inline: .35rem;
                    cursor: pointer;
                }
            }
            .copyRight {
                color: #c2c2c2;
                margin-block: 1.2rem;
                font-size: .9em;
            }
        }
    }
}